<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" />
  <package id="GeoAPI.Core" version="1.7.5" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="NetTopologySuite" version="2.6.0" manuallyInstalled="true" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.3" manuallyInstalled="true" />
  <package id="NetTopologySuite.Core" version="1.15.3" manuallyInstalled="true" />
  <package id="NetTopologySuite.Features" version="2.2.0" manuallyInstalled="true" />
  <package id="NetTopologySuite.IO" version="1.14.0.1" manuallyInstalled="true" />
  <package id="NetTopologySuite.IO.GeoJSON" version="4.0.0" manuallyInstalled="true" />
  <package id="NetTopologySuite.IO.GeoJSON4STJ" version="4.0.0" manuallyInstalled="true" />
  <package id="NetTopologySuite.IO.ShapeFile" version="2.1.0" manuallyInstalled="true" />
  <package id="ProjNET" version="2.0.0" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.3" />
</packages>